---

---

<footer>
  <div class="container">
    <p>
      &copy; {new Date().getFullYear()} Jorge Osvaldo Perez Mendoza. Built with 💚🎲
      and Astro.
    </p>
    <div
      style="margin-top: 1rem; display: flex; justify-content: center; gap: 1rem;"
    >
      <a
        href="https://github.com/Furiduri"
        target="_blank"
        rel="noopener noreferrer">GitHub</a
      >
      <span>|</span>
      <a
        href="https://linkedin.com/in/furiduri/"
        target="_blank"
        rel="noopener noreferrer">LinkedIn</a
      >
      <span>|</span>
      <a
        href="https://instagram.com/furiduri/"
        target="_blank"
        rel="noopener noreferrer">Instagram</a
      >
    </div>
  </div>
</footer>
