---

---

<header class="navbar">
  <div class="container nav-container">
    <a href="/" class="nav-logo"
      >Jorge <span class="text-gradient">Perez</span></a
    >
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
  </div>
</header>
